<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="waitBuilder"
         name="Wait for some time"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true">
         <run
               class="org.eclipsecon.demo.parallelbuilds.WaitProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipsecon.demo.parallelbuilds.ForceInitiatlize">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipsecon.demo.parallelbuilds.ParallelBuildTestPage"
            id="org.eclipsecon.demo.parallelbuilds.page1"
            name="Test and demo Parallel Builds">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.eclipsecon.demo.parallelbuilds.ExportWorkspaceSignatureWizard"
            id="org.eclipsecon.demo.parallelbuilds.generateWorkspaceContentSignature"
            name="🖋️ Generate workspace content signatures">
      </wizard>
   </extension>

</plugin>
